<div class=container>
  <form id="form" action="/collections/<%=collection._id%>" method="POST">
    <div class="collection-title">
      <label for="collectionName">Collection name</label><br>
      <input type="text" id="collection_name" name="collectionName" value='<%=collection.name%>'>
    </div>
    <div class="collection-description">
      <label for="collectionDesc">Collection description</label><br>
      <input type="text" id="collection_desc" name="collectionDesc" value='<%=collection.description%>'>
    </div>
</div>
<div class=container-options>
  <button class="btn">Save changes</button>
  </form>
  <form action="/collections/<%= collection._id %>/delete" method="POST">
    <button>Delete Collection</button>
  </form>

  <li><a class="btn" href="/collections/<%= collection._id %>/figures/new">Add Figure</a></li>

  <div class="search-content">
    <form action="/collections/<%= collection._id %>/search">
      <!--  <button type="submit" class="search-submit">Submit</button>
      <input index="q" tabindex="1" type="text" name="q" placeholder="Buscar" autocomplete="off"> -->
      <label for="search-term">Search for an item by name</label>
      <input type="text" name="name" id="search-term">
      <button>Search</button>
    </form>
    <form action="/collections/<%= collection._id %>/search">
      <!--  <button type="submit" class="search-submit">Submit</button>
      <input index="q" tabindex="1" type="text" name="q" placeholder="Buscar" autocomplete="off"> -->
      <label for="search-author">Search for an item by author</label>
      <input type="text" name="designer" id="search-author">
      <button>Search</button>
    </form>
    <form action="/collections/<%= collection._id %>/search">
      <!--  <button type="submit" class="search-submit">Submit</button>
      <input index="q" tabindex="1" type="text" name="q" placeholder="Buscar" autocomplete="off"> -->
      <label for="search-cheapest">Cheapest Items</label>
      <input type="submit" name="cheapest" id="search-cheapest">
    </form>
    <form action="/collections/<%= collection._id %>/search">
      <!--  <button type="submit" class="search-submit">Submit</button>
      <input index="q" tabindex="1" type="text" name="q" placeholder="Buscar" autocomplete="off"> -->
      <label for="search-expensive">Most Expensive Items</label>
      <input type="submit" name="expensive" id="search-expensive">
    </form>
  </div>


</div>
<div class="container">
  <div class="figures">
    <% collection.figures.forEach( (figure) => { %>
      <ul class=figures-ul>
        <br>
        <li>
          <a class="title" href="/collections/<%= collection._id %>/figures/<%=figure._id%>">
            <span>Name: </span>
            <%= figure.name %>
          </a>
        </li>
        <li class="figures-li">
          <span>Available: </span>
          <%= moment(figure.available).format( 'DD/MM/YYYY') %>
        </li>
        <li class="figures-li">
          <span>Designer: </span>
          <%= figure.designer %>
        </li>
        <li class="figures-li">
          <span>Number: </span>
          <%= figure.number %>
        </li>
        <li class="figures-li">
          <span>Collection: </span>
          <%= figure.collection %>
        </li>
        <li class="figures-li">
          <span>Adquisition Price: </span>
          <%= `${figure.adquisitionPrice} €` %>
        </li>
        <li class="figures-li">
          <span>Personal Notes: </span>
          <%= figure.personalNotes %>
        </li>
        <li class="figures-li">
          <%= figure.image %>
        </li>
        <li class="figures-li chk">
          <%= figure.favorite %>
        </li>
        <li class="figures-li chk ">
          <%= figure.sell %>
        </li>
      </ul>
      <div class="figures-options">
      </div>
      <% }) %>
        <p>
          <!-- ToDo: products-->
        </p>
  </div>
</div>
</div>

