<div class=container>
  <form id="form" action="/collections/<%=collection._id%>" method="POST">
    <div class="collection-title">
      <label for="collectionName">Collection name</label><br>
      <input type="text" id="collection_name" name="collectionName" value='<%=collection.name%>'>
    </div>
    <div class="collection-description">
      <label for="collectionDesc">Collection description</label><br>
      <input type="text" id="collection_desc" name="collectionDesc" value='<%=collection.description%>'>
    </div>
</div>
<div class=container>
  <button class="btn">Save changes</button>
  </form>
  <form action="/collections/<%= collection._id %>/delete" method="POST">
    <button>Delete Product</button>
  </form>

  <li><a class="btn" href="/collections/<%= collection._id %>/figures/new">Add Figure</a></li>

</div>
<div class="container">
  <div class="figures">
    <% collection.figures.forEach( (figure) => { %>
      <ul class=figures-ul>
        <br>
        <li>
          <%= figure.name %>
        </li>
        <li class="figures-li">
          <%= figure.available %>
        </li>
        <li class="figures-li">
          <%= figure.designer %>
        </li>
        <li class="figures-li">
          <%= figure.number %>
        </li>
        <li class="figures-li">
          <%= figure.collection %>
        </li>
        <li class="figures-li">
          <%= figure.adquisitionPrice %>
        </li>
        <li class="figures-li">
          <%= figure.personalNotes %>
        </li>
        <li class="figures-li">
          <%= figure.image %>
        </li>
        <li class="figures-li">
          <%= figure.favorite %>
        </li>
        <li class="figures-li">
          <%= figure.sell %>
        </li>
      </ul>

      <% }) %>

        <p>
          <!-- ToDo: products-->

        </p>
  </div>
</div>
</div>

