<div class=container-collection>
  <div class="formulario">
    <form action="/collections/<%=collection._id%>" method="POST">
      <div class="collection-title">
        <label for="collectionName">Collection name</label><br>
        <input type="text" id="collection_name" name="collectionName" value='<%=collection.name%>'>
      </div>
      <div class="collection-description">
        <label for="collectionDesc">Collection description</label><br>
        <input type="text" id="collection_desc" name="collectionDesc" value='<%=collection.description%>' maxlength="120">
      </div>
      <button class="btn">Save changes</button>
    </form>
    <form action="/collections/<%= collection._id %>/delete" method="POST">
      <button class="btn">Delete Collection</button>
    </form>
  </div>
</div>

<div class=container-options>
  <nav>
    <li><a href="/collections/<%= collection._id %>"><i class="fa fa-list-alt"></i>Collection</a></li>
    <li><a href="/collections/<%= collection._id %>/figures/new"><i class="fa fa-plus"></i>Add Figure</a></li>
  </nav>

  <div class="search-content">
    <nav>
      <form action="/collections/<%= collection._id %>/search">
        <!--  <button type="submit" class="search-submit">Submit</button>
          <input index="q" tabindex="1" type="text" name="q" placeholder="Buscar" autocomplete="off"> -->
        <label for="search-term">Search for an item by name</label>
        <input type="text" name="name" id="search-term">
        <button>Search</button>
      </form>
      <form action="/collections/<%= collection._id %>/search">
        <!--  <button type="submit" class="search-submit">Submit</button>
          <input index="q" tabindex="1" type="text" name="q" placeholder="Buscar" autocomplete="off"> -->
        <label for="search-author">Search for an item by author</label>
        <input type="text" name="designer" id="search-author">
        <button>Search</button>
      </form>
      <form action="/collections/<%= collection._id %>/search">
        <!--  <button type="submit" class="search-submit">Submit</button>
          <input index="q" tabindex="1" type="text" name="q" placeholder="Buscar" autocomplete="off"> -->
        <label for="search-cheapest">Cheapest Items</label>
        <input type="submit" name="cheapest" id="search-cheapest">
      </form>
      <form action="/collections/<%= collection._id %>/search">
        <!--  <button type="submit" class="search-submit">Submit</button>
          <input index="q" tabindex="1" type="text" name="q" placeholder="Buscar" autocomplete="off"> -->
        <label for="search-expensive">Most Expensive Items</label>
        <input type="submit" name="expensive" id="search-expensive">
      </form>
    </nav>
  </div>
</div>


<div class="container-figures">
  <% collection.figures.forEach( (figure) => { %>
    <div class="container-figures-item">
        <i id="favorite" class="fa fa-star hidden"></i>
      <li class="figures-img">
        <img src="<%= figure.image %>" />
      </li>
      <ul class=figures-ul>
        <br>
        <li class="figures-li">
          <span>Name: </span>
          <span><%= figure.name %></span>
        </li>
        <li class="figures-li">
          <span>Available: </span>
          <span><%= moment(figure.available).format( 'DD/MM/YYYY') %></span>
        </li>
        <li class="figures-li">
          <span>Designer: </span>
          <span><%= figure.designer %></span>
        </li>
        <li class="figures-li">
          <span>Number: </span>
          <span><%= figure.number %></span>
        </li>
        <li class="figures-li">
          <span>Collection: </span>
          <span><%= figure.collec %></span>
        </li>
        <li class="figures-li">
          <span>Adquisition Price: </span>
          <span><%= `${figure.adquisitionPrice} €` %></span>
        </li>
        <li class="figures-li">
          <span>Personal Notes: </span>
          <span><%= figure.personalNotes %></span>
        </li>

<!-- ToDo: set favorite -->
<!--       setFavorite();
      figure.favorite -->

      </ul>
      <div class="figures-options">
        <ul>
          <li><a class="btn" href="/collections/<%= collection._id %>/figures/<%=figure._id%>">EDIT</a></li>
          <form action="/collections/<%= collection._id %>/figures/<%=figure._id%>/delete" method="POST">
            <button class="btn">DELETE</button>
          </form>
        </ul>
      </div>
    </div>
    <% }) %>
      <p>
        <!-- ToDo: products-->
      </p>

</div>
</div>

